@import 'animate.min.css';
@import 'normalize.min.css';

//colors
$red_main: #D9534F;

//buttons

//button close modal

#btn-close-modal{
	vertical-align: middle;
	letter-spacing: .1rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	padding-right: 1.2rem;
	text-decoration: none;
    padding: 2rem;
    text-align: right;
    cursor:pointer;
    color:#fff;
    transition: all 300ms ease-in-out;
    &:hover{
    	color: $red_main;
    }
}

//Buttons Home Page
.wrapper_type{
	position: relative;
	z-index: 100;
	text-align: center;
	margin-top: 22rem;
	a{
		// -webkit-box-shadow: 4px 5px 3px 0px rgba(255,255,255,.2);
		// -moz-box-shadow: 4px 5px 3px 0px rgba(255,255,255,.2);
		// box-shadow: 4px 5px 3px 0px rgba(255,255,255,.2);
		font-size: 1.1rem;
		// text-decoration: none;
		// background-color: #999999;
		// padding: 1rem 2rem;
		// border-radius: 3rem;
		// color: #FFFFFF;
		margin-right: 1rem;
		// transition: all .5s ease;
		// &:hover{
		// 	font-size: 1.4rem;
		// 	color: $red_main;
		// 	background-color: #FFFFFF;
		// }
	}
}

//default button
.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  width: 100%; 
  transition: all 1s ease-in-out;
  
  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 0em;
  
    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
  
  @media(min-width: 600px) {
  
    &:nth-of-type(even) {
      margin-right: 1em;
    }
    
    &:nth-of-type(5) {
      margin-right: 0;
    }
    
  }
  
  &:hover { text-decoration: none; }
  
}

//button one

.btn-1 {
  // background: darken($red_main, 1.5%);
  font-weight: 100;
  
  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
  }
  
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
  }
}

.btn-1:hover {
  // background: rgba($red_main, 0);
  font-weight: 900;
  letter-spacing: 1px;
  
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

//button 2
.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: .5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 1s ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width .5s ease-in-out;
  width: 100%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

.wrapper_content{
	width: 90%;
	margin: 0 auto;
	h1{
		font-weight: 400;
		letter-spacing: .1rem;
		text-transform: uppercase;
		font-size: 2rem;
		// margin-left: 6.5rem;
	}
	.wrapper_class{
		margin-top: 5rem;
		text-align: center;
		span{
			padding: 2rem;
			a{
				transition: all 300ms ease-in-out;
				&:hover{
					opacity: 0.3;
				}
			}
		}
	}
}

//scrolltotop
#toTop{
	font-size: 1.4rem;
	position: fixed;
  	bottom: 0;
  	right: 0;
	text-decoration: none;
	color: #999999;
	padding-right: .7rem;
	transition: all .3s ease;
	&:hover{
		border-bottom: 2px solid #333333;
	}
}

//background video 
#background_vid{
	// position: absolute;
	z-index: 0;
	position: fixed; 
	top: 0; 
	left: 0; 
	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
	opacity: .5;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

// Re-call Navbar and Body
body{
	margin-top: 9rem;
	font-family: 'AppleSDGothicNeo-Light', sans-serif;
	background: #000000;
	font-size: 2rem;
	color: #FFFFFF;
}

nav{
	z-index: 100;
	position: fixed;
	height: 60px;
	top:0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .9);
	box-shadow: 0 4px 2px -2px rgba(250, 255, 255, .1) ;
	ul{
		margin-top: .5rem;
		span{
			font-size: 1rem;
			vertical-align: middle;
			padding-right: .5rem;
			opacity: .5;
		}
		li{
			z-index: 1;
			display: inline-block;
			list-style: none;
			#brand{
				vertical-align: middle;
				width: 3rem;
				padding-right: 1rem;
			}
			a{
				vertical-align: middle;
				letter-spacing: .1rem;
				text-transform: uppercase;
				font-size: .9rem;
				padding-right: 1.2rem;
				text-decoration: none;
				color: #FFFFFF;
				transition: all .3s ease;
				&:hover{
					border-bottom: 2px solid #FFFFFF;
					color: #999999;
				}
			}
		}
	}
}



// About Design
.wrapper_about{
	font-size: 1.3rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 2rem;
	padding-top: 0;
	text-align: center;
	video{
		width: 700px;
		padding-bottom: 2rem;
	}
}

//troubleshooting design
.wrapper_ts{
	margin: 0 auto;
	width: 90%;
	font-size: 1rem;
	.anchors{
	    display: block;
		position: relative;
		top: -70px;
		visibility: hidden;
	}
	.wrapper_video{
		margin: 0 auto;
		width: 600px;
		img{
			width: 600px;
			padding-bottom: 3rem;
			padding-top: 1rem;
		}
	}
	h1{
		text-align: center;
		border-bottom: 5px solid $red_main;
		padding-right: 1rem;
	}
	h3{
		color: #999999;
	}
	h4{
		color: #999999;
	}
	h5{
		font-size: 1.4rem;
		color: $red_main;
	}
	span{
		color: $red_main;
	}
	ul{
		li{
			list-style: none;
			font-size: 1.2rem;
			a{
				text-decoration: none;
				color: #FFFFFF;
				transition: all .2s ease;
				&:hover{
					color: #999999;
				}
			}
		}
	}
	table{
		tr{
			td{
				padding: 1rem;
				line-height: 1.3rem;
			}
		}
	}
}

.wrapper_data{
	position: relative;
	z-index: 10;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	img{
		padding-bottom: 1rem;
		opacity: 1;
		width: 100%;
	}
}

.wrapper_navdata{
	position: relative;
	z-index: 10;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	img{
		padding: 1rem;
		opacity: 1;
		width: 15rem;
	}
}

